h1{
    padding-left: 10%;
    padding-top: 7px;
    font-family: 'Staatliches';
    
}

#login{
    font-family: 'Staatliches';
    font-size: larger;
}

body{
    background-image: url("/CSS/img/fondo.jpg");
}



.card{
    max-width: 45cm;
    max-height: 50cm;
    
    
    
}


.card-body{
    padding-top: 1cm;
}


#imagen-perfil{
    max-width: 5cm;
    max-height: 5cm;
    padding-top: 0cm;
    
}

#yoprogramo{
    padding-top: 15px;
}




