h1{
    padding-left: 10%;
    padding-top: 7px;
    font-family: 'Staatliches';
    
}

#login{
    font-family: 'Staatliches';
    font-size: larger;
}

body{
    background-image: url("/CSS/img/fondo.jpg");
}



.card{
    max-width: 45cm;
    max-height: 50cm;
    
    
    
}



.card-body{
    padding-top: 1cm;
}


#imagen-perfil{
    max-width: 5cm;
    max-height: 5cm;
    padding-top: 0cm;
    
}

#yoprogramo{
    padding-top: 15px;
}


#about-me{
    padding-left: 60px;
}

#info-personal{
    padding-left: 1cm;;
}

.checked {
    color: rgba(255, 34, 0, 0.582);
  }

  .card-title{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: underline;
  }

  p{
    
    font-size: large;
    font-weight: 400;
    
  }


