h1{
    padding-left: 10%;
    padding-top: 7px;
    font-family: 'Staatliches';
    
}

#login{
    font-family: 'Staatliches';
    font-size: larger;
}

body{
    background-image: url("/CSS/img/fondo.jpg");
}

.imagen-perfil{
    min-width: 6cm;
    min-height: 6cm;
    max-width: 6cm;
    max-height: 6cm;
}

.card{
    max-width: 45cm;
    max-height: 50cm;
    
    min-width: 43cm;
    
}

.card-img-overlay{
    max-height: 5cm;
    max-width: 5cm;
    padding-top: 120px;
}

.card-body{
    padding-top: 1cm;
}
