<article class="container-fluid d-flex">
    <div class="card container-fluid">
        <div class="card-body">
            <h4 class="card-title d-flex justify-content-center"> Habilidades</h4> <br>
            
            <div class="row">
                <div class="col-4">
                    <h6>Liderazgo</h6>
                </div>
                <div class="col-4">
                    <h6>Trabajo en equipo</h6>
                </div>
                <div class="col-4">
                    <h6>Resolucion de problemas</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <div class="col-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <div class="col-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>

                

                    
                </div>
                  
            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <h6>Manejo de tiempo</h6>
                </div>
                <div class="col-4">
                    <h6>Responsabilidad</h6>
                </div>
                <div class="col-4">
                    <h6>Comunicacion</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
                <div class="col-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <div class="col-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

                

                    
                </div>
            </div>
        </div>
    </div>
</article>