<article class="container-fluid d-flex">
    <div class="card container-fluid">
        <div class="card-body">
            <h4 class="card-title d-flex justify-content-center"> Idiomas</h4> <br>
            
            <div class="row">
                <div class="col-4">
                    <h6>Inglés</h6>
                </div>
                <div class="col-4">
                    <h6>Alemán</h6>
                </div>

            </div>

            <div class="row">
                <div class="col-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <div class="col-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>

                  
           
            </div>
        </div>
    </div>
</article>
