<article class="container-fluid  d-flex ">
    <div class="card container-fluid">
        <div class="card-body">
            <h4 class="card-title d-flex justify-content-center"> Experiencia Laboral</h4>
            <ul>

                <li>
                    <h6><strong> Auxiliar contable (Jr) </strong></h6>
                    <p><strong>Empresa:</strong> Banco Santander</p>
                    <div class="row">
                        <p class="col-2 heighth: 200px; width: 200px;"> <img src="..\assets\img\santander.jpg" class="img-fluid float-start"></p>
                        <p class="col-10">Trabajé durante un año como ayudante de contable en la sucursal del Banco Santander de Villa del Parque</p>
                    </div>
                </li>


                
            </ul>
        </div>
    </div>






</article>
