<article class="container-fluid d-flex justify-content-center">
      
    <div class="card">
        <div class="card-img-top">
            <img src="..\assets\img\banner.jpg" class="img-fluid" alt="banner-img">
        
        </div>

        <div class="card-body">
            <div id="perfil">
                <img src="..\assets\img\corte.jpg" class="rounded-circle img-fluid img-thumbnail" id="imagen-perfil">
            </div>
            <div class="row">
                <div class="col-5">
                    <h5 class="card-title">Valentín Pugliese</h5> <br>
                </div>
                <div class="col-5 card-title" id="about-me">
                    <h4 >Acerca de mi</h4><br>
                </div>
            </div>
          <div class="row">
            <div class="col-2">
                <p class="card-text">
                    Nacionalidad: <strong>Argentina</strong><br>
                    Titulo: <strong>Full Stack Developer (Jr)</strong>
                </p>
            </div>
            <div class="col-8">
                <p class="card-text" id="info-personal">Me considero uns persona responsable y comprometida con mis proyectos, que además busca aprender todo el tiempo para seguir creciendo tanto profesional como personalmente. Destaco tambien que disfruto trabajar en eequipo y comunicarme con otras persona</p>
            </div>
          </div>
        </div>
      </div>

</article>
