<!-- header -->
  <app-encabezado></app-encabezado>

  <!-- Secciones con info personal -->

  <app-biografia></app-biografia>
  
  
  
  
  
  <!-- Seccion con Experiencia Laboral -->
<app-experiencia></app-experiencia>



  <!-- Seccion sobre Educacion -->

  <app-estudios></app-estudios>




  <!-- Seccion sobre SOFT SKILLS -->

  <app-skills></app-skills>
  
  <!-- Idiomas -->
  <app-idiomas></app-idiomas>


  
  
  
  
  
  
  <!-- Seccion Proyectos -->
  
  
  <app-proyectos></app-proyectos>


 
 
  
  

  


