<article class="container-fluid d-flex">
    <div class="card container-fluid">
        <div class="card-body">
            <h4 class="card-title d-flex justify-content-center"> Estudios</h4>
            <ul>

                <li>
                    <h6>Certificación Full-Stack Developer</h6>
                    <p>
                        <strong>Instituto:</strong> Instituto Nacional de Buenos Aires (ITBA)<br>
                        <strong>Inicio:</strong> Marzo 2022<br>
                        <strong>Fin:</strong> Agosto 2022
                    </p>
                    <div class="row">
                        <p class="col-2 heighth: 200px; width: 200px;"> <img src="..\assets\img\itba.png" class="img-fluid float-start"></p>
                        <p class="col-10">Curso con duracion de 300 horas especializado en desarrollo Full-Stack. <br>
                            Tecnologias aprendidas: <strong>CSS, Bootstrap, JavaScript, Django, Python y SQL</strong>
                        </p>
                    </div>
                </li>
                    <br>
                <li>
                    <h6>Tecnicatura en Programación Informatica</h6>
                    <p>
                        <strong>Instituto:</strong> Universidad Nacional de San Martin<br>
                        <strong>Inicio:</strong> Febrero 2022<br>
                        <strong>Fin:</strong> En Curso
                    </p>
                    <div class="row">
                        <p class="col-2 heighth: 200px; width: 200px;"> <img src="..\assets\img\unsam.png" class="img-fluid float-start"></p>
                        <p class="col-10">Tecnicatura Universitaria en Programación Informatica, con duracion de 3 años y con fecha prevista de finalizacione en 2025</p>
                    </div>
                </li>
                
            </ul>
        </div>

    </div>

</article>
